# Dependency directory
node_modules

target/

# Instrumented versions of lib/ files
instrumented/

# Istanbul generated reports
reports

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Jetbrains
**/.idea/*
!**/.idea/runConfigurations/
*.iml

# General
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db