language: php
php:
  - 5.5
  - 5.6
before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
script: phpunit --bootstrap ./vendor/autoload.php ./tests/rosette/api/ApiTest.php
